<my-navbar-directive></my-navbar-directive>
<div class="center">
	<div class="center">
		<form ng-submit='getWeather()'>
			<!-- <div>
				<select ng-model="city">
				  <option value="paris">Paris</option>
				  <option value="lyon">Lyon</option>
				  <option value="nantes">Nantes</option>
				  <option value="bordeaux">Bordeaux</option>
				</select> <br/><hr/>
			</div> -->
			<div>
				<label>Choose a city !</label>
				<select class="form-control" 
						ng-init="city = cities[0]" 
			        	ng-model="city" 
			        	ng-options="town.value as town.name for town in cities">
				</select><br/>
			</div>
			<div>
				<label>Select a date</label>
				<md-datepicker ng-model="datepicker" md-min-date="minDate" md-max-date="maxDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
			</div><hr/>
			<button class="btn btn-primary" type="submit">Hit me to get the weather !!!</button>
		</form>
	</div>

	<br/>

	<div class="center" ng-if="result.maxtemp" class="animate-if">
		<p>A {{city | capitalize}} le {{datepicker | date : 'dd/MM/yyyy'}}, voici la météo qu'il faisait :</p>
		<!-- <p>Température maximale : {{result.maxtemp}}°C</p>
		<p>Température moyenne : {{result.meantemp}}°C</p>
		<p>Température minimale : {{result.mintemp}}°C</p> -->
		<table class="table table-striped table-bordered">
			<tr>
				<td>Température max. (°C)</td>
				<td>{{result.maxtemp}}</td>
			</tr>
			<tr>
				<td>Température moy. (°C)</td>
				<td>{{result.meantemp}}</td>
			</tr>
			<tr>
				<td>Température min. (°C)</td>
				<td>{{result.mintemp}}</td>
			</tr>
		</table>

		<p>En ce moment même, c'est plutôt comme ça :</p>
		<table class="table table-striped table-bordered">
			<tr>
				<td>Température (°C)</td>
				<td>{{today.temp}}</td>
			</tr>
			<tr>
				<td>Visuel</td>
				<td><img src="{{today.logo}}"></td>
			</tr>
		</table>
	</div>
</div>
