<my-navbar-directive></my-navbar-directive>
<div>
	<form ng-submit='getWeather()'>
		<!-- <input type="text" value="{{datepicker | date : 'yyyyMMdd'}}"> -->
		<!-- <input type="text" ng-model="city"> -->
		<div>
			<label>Select a date</label>
			<md-datepicker ng-model="datepicker" md-min-date="minDate" md-max-date="maxDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
		</div>
		<!-- <div>
			<select ng-model="city">
			  <option value="paris">Paris</option>
			  <option value="lyon">Lyon</option>
			  <option value="nantes">Nantes</option>
			  <option value="bordeaux">Bordeaux</option>
			</select> <br/><hr/>
		</div> -->
		<div>
			<label>Choose a city !</label>
			<select ng-init="city = cities[0]" 
		        	ng-model="city" 
		        	ng-options="town.value as town.name for town in cities">
			</select><br/><hr/>
		</div>
		<button type="submit">Hit me to get the weather !!!</button>
	</form>
</div>

<br/>

<div ng-if="result.maxtemp" class="animate-if">
	<p>A {{city | capitalize}} le {{datepicker | date : 'dd/MM/yyyy'}}, voici la météo qu'il faisait :</p>
	<p>Température maximale : {{result.maxtemp}}°C</p>
	<p>Température moyenne : {{result.meantemp}}°C</p>
	<p>Température minimale : {{result.mintemp}}°C</p>
</div>

